.git
.github
.next
.worktrees
coverage
node_modules
playwright-report
test-results
blob-report
strix_runs
.superpowers
.env*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
Dockerfile
